<h1>ブログを管理してみましょう</h1>
<div class="home-card-area">
  <div class="home-card">
    <p class="home-card-content">さっそくブログを管理してみませんか？</p>
    <a href="/signup" class="home-card-item home-card-link">アカウントを作成して始める</a>
    <a href="/login" class="home-card-item home-card-link">ログインしてブログを管理する</a>
  </div>
</div>
